.DS_Store
build/
build_x11/
build_debug/
build_x11_debug/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.map
config.txt
debug.log
gamedata/
maxpayne_arm64
maxpayne_x11
patch/.DS_Store
package/
temp/
archive/
Makefile
conf/
VERSION.txt
LAST_PATCH_VERSION.txt
libMaxPayne.so
patchlog.txt
